
@{
	ViewBag.Title = "About";
}

<h1>@ViewBag.Title</h1>
<h2>@ViewData["Message"]</h2>
<p>This is the About page for our first ASP.NET Core MVC app.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-warning btn-sm">Go to Home Page</a>
<a asp-controller="Numbers" asp-action="Index" class="btn btn-primary">Go check 50 numbers</a>
